<h1>All the WWE Brands</h1>

<% @brands.each do |brand| %>
<%= link_to brand.name, brand_path(brand) %>
<br>
<br>
<% end %>
<br>
<br>
<br>

<%= link_to "New Brand", new_brand_path %>
<br>
<br>
<%= link_to "Wrestlers", wrestlers_path %>
